* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none; /* 去掉列表样式-小圆点*/
}
a {
  text-decoration: none; /* 去掉文本装饰效果-下划线*/
  cursor: pointer;
  color: rgb(255, 255, 255);
}
body {
  font-size: 14px;
  background-color: skyblue;
}
input {
  border: 0 none; /* 去掉边框 none 无边框 */
  outline: none; /* 去掉聚焦边框 */
}
